mixin model_link(name, description, views, url)
    .pure-g-r.model-list(style="margin-bottom:10px")
        .pure-u-1-4(style="max-height:150px")
            img.model-image(src="http://placehold.it/150x150")
        .pure-u-3-4(style="max-height:150px")
            a(href='#{url}')
                h4 #{name}
            | #{description}
            p
                |Views: #{views}

mixin purchase_link_row_header()
    thead
        tr
            th Description
            th Date of Purchase
            th Price
            th Download Link

mixin purchase_link_row(description, downloadurl, date, amount)
    tbody
        tr
            th 
                | #{description}
            th 
                | #{date}
            th 
                | #{amount}
            th 
                a(href="#{downloadurl}") download

mixin payment_header()
    thead
        tr
            th Model
            th Bought By
            th Date of Purchase
            th For the Amount
            th Your Cut
            th Date of Transfer

mixin payment_row(t)
    tbody
        if (t.money_transfered)
            tr(style="background-color:#DDDDDD;")
        else
            tr(style="background-color:#99CCFF;")
                th 
                    | #{t.description}
                th
                    | #{t.purchase_username}
                th 
                    | #{t.date_recieved}
                th 
                    | #{t.model_cost}
                th 
                    | #{t.after_stripe_fees}
                th 
                    | #{t.data_transfered}

mixin download_pure_button(url)


mixin download_link_header()
    thead
        tr
            th Name
            th Description
            th Download Link
mixin download_link_row(name, description, grid_id)
    tbody
        tr
            th
                | #{name}
            th 
                | #{description}
            th 
                    form(method="get", action="/models/uploads/#{grid_id}")
                        button(class="pure-button pure-button-primary", type="submit")
                            | Download