extend ../layout
block content
  p
    | You have successfully purchased #{name}. #{description}. The price of this model is #{price} USD.

  p 
    | You will be billed #{price} USD + taxes. You can download the file below.
    | #{message}
  div
    a(class="pure-button pure-button-primary", href="", id="down-btn", target="_blank") Download Now 

      