extend ../layout
block content
    p
        | You have successfully purchased #{model.name}. 
    p
        | #{model.description}
    p
        | The price of this model was #{transaction.model_cost} USD.

    p 
        | You were billed #{transaction.model_cost} USD + taxes. You can download the file below.
    div
        
        a.pure-button.pure-button-primary(href="/models/#{transaction.model_id}/download") Download
