extend ../layout
block content
    p
        | You have successfully purchased #{model.name}. 
    p
        | #{model.description}
    p
        | The price of this model was #{transaction.model_cost} USD.

    p 
        | You were billed #{transaction.model_cost} USD + taxes. You can download the file below.
    div
        form(method="get", action="/models/uploads/#{transaction.model_id}")
            button(class="pure-button pure-button-primary", type="submit")
                |Download
      
