extend ../layout
block append content
  script(src="/vendor/gl-matrix2.js")
  script(src="/vendor/webgl-utils.js")
  script(src="/vendor/jquery-2.js")

  script(src="/glviewer/obj-module.js")
  include shaders
  script.
    var modelURL = "/uploads/" + '#{model_URL}';
    var starred = #{starred};
    var loggedIn = #{logged_in}
    $( document ).ready( function(){
      webGLStart();
      $("#a-star").click(function() {
        if(loggedIn){
          console.log($(this));
          $( this ).removeClass("fa-star-o fa-star").addClass("fa-spinner fa-spin")
          console.log("a was clicked"); // or alert("click");
        
          $.post(starred ? "/models/#{model._id}/unstar" : "/models/#{model._id}/star", function(data){
            console.log("number of stars: " + data);

              $( "#a-star" ).removeClass("fa-spinner fa-spin").addClass(starred ? "fa-star-o" : "fa-star")
              $("#star-holder").text(data);
              starred = !starred;
            });
          }
      });
    });

  h1.show-header #{model.name}
  div.pure-menu.pure-menu-open.pure-menu-horizontal
    ul.show-gl-menu
      if show_edit
        li
          a(href="/models/#{model._id}/edit")
            i(class="fa fa-pencil fa-lg")
            |  Edit
      - var CLASS = logged_in ? "" : "pure-menu-disabled"
      li(class=CLASS, id="star-holder")

        a
          if starred
            i(id="a-star", class="fa fa-star fa-lg")
          else
            i(id="a-star", class="fa fa-star-o fa-lg")
          |  #{model.favorites.length || 0}
      li
        a(href="/models/#start/edit")
          i(class="fa fa-fullscreen fa-lg")
          |  Full Screen
        

  div
    canvas.gl-player(id="my-canvas", width="800px", height="400px", onload="webGLStart();")
  
  p
    | #{model.description}
  p 
    | by 
    a(href='/users/#{model.creator}') #{model.creator}
  div
    a(class="pure-button pure-button-primary", href="#") Buy Now $#{model.price}
  div
    | views: #{model.views}