extends ../layout
include ../mixins
block content
    if(looking_at_own_profile)
            div.mm-profile-button-row
                a.pure-button.mm-button-row(href="/users/#{user.username}/edit") Edit Profile
                a.pure-button.mm-button-row(href="/users/#{user.username}/bank_info") Add Bank Info
                a.pure-button.mm-button-row(href="/users/#{user.username}/purchases") My Purchases
    h2 #{user.username}
    div.circular(style="background: url(/users/#{user.username}/image) no-repeat; background-size: cover; margin-left:0")

    div
    h2 Models by this user:
    -each m in models
        mixin model_link(m.name, m.description, m.views, "/models/"+m._id)  

    h2 Models Starred by user:
    -each m in starred
        mixin model_link(m.name, m.description, m.views, "/models/"+m._id)